.summary ul {
  margin: 0;
  padding: 0;
}

.summary ul>li,
.summary__total {
  margin: 1rem 0;
}

.summary__itemsize,
.summary__total {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
}