button[type="submit"] {
  margin: 1rem 0;
}
button[type="submit"]:hover {
  background-color: rgba(72, 199, 41, 0.7);
}
button[type="submit"],
button[type="submit"]:active {
  background-color: rgb(72, 199, 41);
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  outline: none;
}
button[type="submit"]:active {
  box-shadow: 0 0 0 2px rgba(72, 199, 41, 0.7);
}